<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Title</title>
</head>
<body>
<div class="card-body">
    <div class="table-responsive">
        <h1>API Page</h1>
        <table class="table table-bordered" id="dataTable" width="50%" cellspacing="0">
            <thead>
            <tr>
                <th style="text-align: center">ID</th>
                <th style="text-align: center">ИМЕ</th>
                <th style="text-align: center">lat</th>
                <th style="text-align: center">lng</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="objekt: ${objekti}">
                <td th:text="${objekt.id}" style="text-align: center; width: 250px">ID</td>
                <td th:text="${objekt.name}" style="text-align: center">ИМЕ</td>
                <td th:text="${objekt.lat}" style="text-align: center; width: 190px">Lattitue</td>
                <td th:text="${objekt.lng}" style="text-align: center" th:width="250px">Longitute</td>
            </tr>

            </tbody>
        </table>

        <table class="table table-bordered" id="usersTable" width="50%" cellspacing="0">
            <thead>
            <tr>
                <th style="text-align: center">username</th>
                <th style="text-align: center">name</th>
                <th style="text-align: center">surname</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="user: ${users}">
                <td th:text="${user.getUsername()}" style="text-align: center; width: 250px">Username</td>
                <td th:text="${user.getName()}" style="text-align: center">NAME</td>
                <td th:text="${user.getSurname()}" style="text-align: center; width: 190px">Surname</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>